
/* CSS inspired by w3schools.com base CSS code, with my edits and modifications for my own work*/
body {
  margin: 0;
  font-family: Verdana, Helvetica, sans-serif;
  
  
  
}
.body {
 background-color:honeydew
}
/* The TopNav CSS below is a modified version of w3schools CSS Nav Bar code*/
.topnav {
  overflow: hidden;
  background-color: green;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 17px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
/* These image css are to format where the pictures should be place on the website*/
.img1 {
 float:right;
 }
.img2 {
 float:left;
}
/* clearfix helps with overlap between block elements and my images*/
.clearfix {
 overflow:auto;
}
/* This CSS modifies text layout on my page*/
.right {
  float: right;
  width: 300px;
  border: 5px solid black;
  padding: 10px;
}

.left {
 float: left;
 width: 300px;
 border: 5px solid black;
 padding: 10px;
}
/* This CSS centers the image on the middle of the page and turns it into a block element.*/
.img3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
