<style>
<!-- "This was inspired by w3schools.com's CSS code examples, with my edits and changes. -->
body {
  margin: 0;
  font-family: Verdana, Helvetica, sans-serif;
  
  
  
}
.body {
 background-color:honeydew
}
.topnav {
  overflow: hidden;
  background-color: green;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 17px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
.img1 {
 float:right;
 }
.img2 {
 float:left;
}

.clearfix {
 overflow:auto;
}
.right {
  float: right;
  width: 300px;
  border: 5px solid black;
  padding: 10px;
}

.left {
 float: left;
 width: 300px;
 border: 5px solid black;
 padding: 10px;
}

.img3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.img4 {
  
	

</style>